img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

h1{
	font-family: Raleway;
	margin-left: 1.66%;
	text-transform: uppercase;
	font-weight: 800px;
	border-bottom: 3px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}